header {
    background-color: #e24647;
    color: #fff;
    margin: 0 115px; 
    overflow: hidden;
    padding: 55px 60px 95px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100vw - 330px);
}

h1 {
    float: left;
    font-family: Arial, 'Roboto', sans-serif;
    font-size: 40px;
}

nav {
    float: right;
    font-family: 'Segoe UI', 'Roboto', sans-serif;;
    font-size: 21px;
}

a {
    color: inherit;
    margin-left: 60px;
    text-decoration: none;
}

button {
    background-color: #252c41;
    color: #fff;
    height: 60px;
    width: 200px;;
}